body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f5f5f5;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    width: 100%;
}

section {
    width: 80%;
    margin: 10px auto !important;
}
#results{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}